page-tab1 {
  .input-container {
    margin-bottom: 20px;

    ion-label {
      display: block;
      margin-bottom: 5px;
    }

    ion-input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
    }

    ion-button {
      padding: 8px 15px;
      background-color: #ffc0cb; /* Cor rosa claro */
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }

  ion-card {
    margin-bottom: 20px;
  }

  ion-list {
    list-style-type: none;
    padding-left: 0;

    ion-item {
      margin-bottom: 5px;
    }
  }
}
