<ion-header>
  <ion-toolbar>
    <ion-title>
      Exames Médicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Exame Cardíaco</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Realize o exame cardíaco para avaliação.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Exame de Sangue</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Agende seu exame de sangue para análises laboratoriais.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Raios-X</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Realize um exame de raios-X para diagnósticos específicos.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Anteciosamente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Alanis Pereira da Silva - 01535211</p>
    </ion-card-content>
  </ion-card>
</ion-content>
